<div class="flex flex-col justify-center items-center">
  <div class="flex flex-col bg-gray-50 rounded-xl p-20 w-1/2 space-y-8">
    <h1 class="text-xl">Create a category</h1>
    <form class="flex flex-col space-y-4" (submit)="onSubmit($event)">
      <input
        class="bg-gray-200 rounded-xl px-4 py-3"
        type="text"
        placeholder="Type a name for your account"
        [formField]="createCategoryForm.Alias"
      />
      <textarea
        class="bg-gray-200 rounded-xl px-4 py-3 h-40"
        placeholder="Type here the description"
        [formField]="createCategoryForm.Description"
      ></textarea>
      <button
        class="bg-gray-700 hover:bg-gray-900 disabled:bg-gray-500 text-white rounded-xl px-4 py-3 flex-1"
        type="submit"
      >
        Create
      </button>
    </form>
  </div>
</div>
