<div class="h-dvh flex flex-col bg-gray-300 justify-center items-center">
  <div class="flex flex-col bg-white rounded-xl p-20 w-1/2 space-y-8">
    <h1 class="font-bold text-2xl">My accounts</h1>
    <div class="flex flex-col rounded-xl p-8">
      <div class="flex flex-row font-bold bg-gray-200 p-2 rounded-tl-xl rounded-tr-xl">
        <div class="flex-2 text-center">Alias</div>
        <div class="flex-1 text-center">Created At</div>
        <div class="flex-1 text-center">Updated At</div>
      </div>
      @for (item of accounts(); track $index; let last = $last, odd = $odd) {
        <div
          class="flex flex-row justify-between p-2"
          [class.rounded-bl-xl]="last"
          [class.rounded-br-xl]="last"
          [ngClass]="odd ? 'bg-gray-50' : 'bg-gray-100'"
        >
          <div class="flex-2 text-center">{{ item.alias }}</div>
          <div class="flex-1 text-center">{{ item.created_at | date: 'dd-MM-yyyy' }}</div>
          <div class="flex-1 text-center">{{ item.updated_at }}</div>
        </div>
      }
    </div>
  </div>
</div>
