<div class="flex flex-col p-20 space-y-8 bg-white rounded-xl w-full shadow">
  <div class="flex flex-row justify-between items-center">
    <h1 class="text-4xl font-bold text-gray-800">Transactions</h1>
    <homeconomy-button [link]="'/create-transaction'" [text]="'Create new transaction'"></homeconomy-button>
  </div>

  @if (isDataLoaded()) {
    <table class="table-auto text-center">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-3">Execution date</th>
          <th class="px-4 py-3">Amount</th>
          <th class="px-4 py-3">Concept</th>
          <th class="px-4 py-3">AccountId</th>
          <th class="px-4 py-3">Category</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        @for (tr of transactions(); track tr.Id) {
          <tr class="not-odd:bg-gray-100">
            <td class="px-4 py-3">
              {{ tr.ExecutionDate | date: 'dd/MM/yyyy' }}
            </td>
            <td class="px-4 py-3">{{ getSymbol(tr) + ' ' + tr.Amount }} €</td>
            <td class="px-4 py-3">{{ tr.Concept }}</td>
            <td class="px-4 py-3">
              {{ this.accountIdToName(tr.AccountId) }}
            </td>
            <td class="px-4 py-3">
              {{ this.categoryIdToName(tr.CategoryId) }}
            </td>
            <td class="px-4 py-2 align-middle flex flex-row justify-around">
              <a class="cursor-pointer" (click)="deleteTransaction(tr.Id)"
                ><img class="h-7 mx-auto" src="/icons/delete.svg"
              /></a>
              <a class="cursor-pointer" (click)="navigateToUpdate(tr)"
                ><img class="h-7 mx-auto" src="/icons/edit.svg"
              /></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="text-gray-500">No transactions found</p>
  }
</div>
