<div class="h-dvh w-full flex flex-col p-20 items-center space-y-4">
    <div class="bg-white rounded-xl p-20 w-full flex flex-row space-y-8 space-x-4 justify-around">
        <div class="space-y-4">
            <h1 class="text-2xl">Balance</h1>
            <div class="flex flex-col justify-center items-center p-4">
                <h2 class="text-6xl">{{balance()}} €</h2>
            </div>
        </div>
        <div class="space-y-4">
            <h1 class="text-2xl">Expenses categorized</h1>
            <div>
                @for (item of categoryBalance(); track item) {
                    <h1>{{item.CategoryName}} -> {{item.Balance}}</h1>
                }
            </div>
        </div>
    </div>
    <div class="bg-white rounded-xl p-20 w-full flex flex-col space-y-8">
        <h1 class="text-2xl">Ultimos movimientos</h1>
        <table>
            <thead>
                <tr>
                    <th class="p-4 rounded-tl-xl text-center bg-gray-200">Concepto</th>
                    <th class="p-4 text-center bg-gray-200">Importe</th>
                    <th class="p-4 text-center bg-gray-200">Categoría</th>
                    <th class="p-4 rounded-tr-xl text-center bg-gray-200">Fecha de ejecución</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-gray-50 p-4 text-center">Restaurante Indio</td>
                    <td class="bg-gray-50 p-4 text-center">22.49 €</td>
                    <td class="bg-gray-50 p-4 text-center">Comida</td>
                    <td class="bg-gray-50 p-4 text-center">27/06/2026</td>
                </tr>
                <tr>
                    <td class="bg-gray-50 p-4 text-center">Mercadona</td>
                    <td class="bg-gray-50 p-4 text-center">46.60 €</td>
                    <td class="bg-gray-50 p-4 text-center">Comida</td>
                    <td class="bg-gray-50 p-4 text-center">26/06/2026</td>
                </tr>
                <tr>
                    <td class="bg-gray-50 p-4 text-center">Zelda Ocarina of time</td>
                    <td class="bg-gray-50 p-4 text-center">80.00 €</td>
                    <td class="bg-gray-50 p-4 text-center">Ocio</td>
                    <td class="bg-gray-50 p-4 text-center">23/06/2026</td>
                </tr>
                <tr>
                    <td class="bg-gray-50 rounded-bl-xl p-4 text-center">Repsol Algarrobo</td>
                    <td class="bg-gray-50 p-4 text-center">41.12 €</td>
                    <td class="bg-gray-50 p-4 text-center">Combustible</td>
                    <td class="bg-gray-50 rounded-br-xl p-4 text-center">26/06/2026</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>