<div class="h-dvh w-full flex flex-col p-20 items-center space-y-4">
    <canvas baseChart [type]="'bar'"></canvas>
  <div class="rounded-xl min-w-6xl grid grid-cols-3 gap-x-4">
    <div class="bg-white rounded-xl p-10 w-full">
      <h4>Balance</h4>
      <div class="p-10 flex flex-col justify-center items-center">
        <p class="text-5xl">{{ balance() | currency: 'EUR' }}</p>
      </div>
    </div>
    <div class="bg-white rounded-xl p-10 w-full">
      <h4>Income</h4>
      <div class="p-10 flex flex-col justify-center items-center">
        <p class="text-5xl">{{ 2000 | currency: 'EUR' }}</p>
      </div>
    </div>
    <div class="bg-white rounded-xl p-10 w-full">
      <h4>Expense</h4>
      <div class="p-10 flex flex-col justify-center items-center">
        <p class="text-5xl">{{ -600 | currency: 'EUR' }}</p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-4 w-full">
    @for (item of categoryBalance(); track item) {
      <div class="bg-white rounded-xl">
        <dl class="px-4 py-3 text-center">{{ item.CategoryName }}</dl>
        <dd class="px-4 py-3 text-center">{{ item.Balance | currency: 'EUR' }}</dd>
      </div>
    }
  </div>
</div>
