<div class="flex flex-col bg-white rounded-xl p-20 w-full space-y-8 shadow">
  <div class="px-8 flex flex-row justify-between items-center">
    <h1 class="font-bold text-2xl">My accounts</h1>
    <homeconomy-button [link]="'/create-account'" [text]="'New account'"></homeconomy-button>
  </div>
  <div class="flex flex-col rounded-xl px-8 w-2xl">
    <div class="flex flex-row font-bold bg-gray-200 p-2 rounded-tl-xl rounded-tr-xl">
      <div class="flex-2 text-center">Alias</div>
    </div>
    @for (item of accounts(); track $index; let last = $last, odd = $odd) {
      <div
        class="flex flex-row justify-between p-2 border-b border-gray-200 bg-gray-50"
        [class.rounded-bl-xl]="last"
        [class.rounded-br-xl]="last"
      >
        <div class="flex-2 text-center">{{ item.alias }}</div>
      </div>
    }
  </div>
</div>
